@import url('https://fonts.googleapis.com/css?family=Nunito');
$rhGrey: #7f8c8d;

.rhBuilder{
    *{
        box-sizing: border-box;
    }
    font-family: "Nunito", sans-serif;

    .rhAddNew{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 40px;
        background-color: #ecf0f1;
        min-height: 50px;
        box-sizing: border-box;
    }
    .rhIcon{
        color: $rhGrey;
        transition-duration: 0.3s;
        &.more{
            margin-left: 10px;
        }
        &.rhAdding{
            transform: rotate(45deg);
        }
        &:hover{
            color: black;
            cursor: pointer;
        }
    }
    .rhBlocks{
        width: 100%;
        padding: 0 10px;
        .rhBlockIcon{
            display: inline-block;
            padding: 10px;
            margin: 5px 5px 5px 0;
            border: 1px solid $rhGrey;
            background-color: white;
            color: $rhGrey;
            text-transform: uppercase;
            &:hover{
                background-color: $rhGrey;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.rhSingleBlock{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 40px;
    background-color: #ecf0f1;
    min-height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
    .rhContent{
        padding: 0 10px;
        width: 100%;
    }
}

.moreControl{
    position: relative;
}

.moreControl .tooltiptext {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    visibility: hidden;
    max-width: 200px;
    background-color: white;
    color: $rhGrey;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: -10px;
    opacity: 0;
    transition: opacity 0.3s;
    svg{
        box-sizing: content-box;
        flex: 1;
        padding: 10px;
        &:hover{
            background-color: $rhGrey;
            color: white;
            cursor: pointer;
        }
    }
}

.moreControl .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.moreControl .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.rhImageBlock{
    width: 100%;
    border: 1px dashed $rhGrey;
    padding: 10px;
    text-align: center;
}


@mixin input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@mixin button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}


.rhGroup{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    .rhInput{
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
        @include input;
    }
    button{
        border: 1px solid $rhGrey;
        margin-left: -1px;
        display: flex;
        @include button;
    }
}

.iframe-active {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}

.iframe-active iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
